*{
  padding:0;
  margin:0;
}

body{
  background-color: #e84393;
  background-image: url('img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.image{
  width:100%;
  text-align: center;
  color:#FFF;
  font-size:46px;
}

.podpis{
  margin-top:20px;
  text-shadow: 2px 3px 5px black;
}

.image img{
  background-color: #FFF;
  max-height:600px;
  position:relative;
  display:flex;
  margin:auto;
  margin-top:20px;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  border-radius:5px;
  z-index:0;
}


.toggleKey{
  padding:10px;
  background-color:#d63031;
  width:200px;
  text-align:center;
  color:#FFF;
  border-radius:5px;
  border:2px solid #FFF;
  position:relative;
  left:50%;
  margin-left:-100px;
  opacity:.5;
}

.popup{
  position:fixed;
  top:40px;
  left:50px;
  background-color: #fd79a8;
  padding:20px;
  color:#FFF;
  border-radius:5px;
  border: 2px solid #FFF;
  opacity:.2;
  z-index:100;
}

.popup:hover{
  opacity:1;
}

.toggleKey:hover{
  cursor:pointer;
  background-color:#f23031;
  opacity:1;
}

.toggleKey:active{
  background-color:#cd3031;
}

.heart{
  width:50px;
  opacity:.8;
  z-index:10;
}

.firstLeft{
  left:0;
}

.secondLeft{
  left:75px;
  background-color: black;
}

.thirdLeft{
left:150px;
background-color: black;
}

.fourthLeft{
  left:225px;
  background-color: black;
}

.fifthLeft{
  left:300px;
  background-color: black;
}

.firstRight{
  right:0;
}

.secondRight{
  right:75px;
}

.thirdRight{
right:150px;
}

.fourthRight{
  right:225px;
}

.fifthRight{
  right:300px;
}

.heartContainerLeft{
  position:fixed;
  top:100%;
  width:100px;
}

.heartContainerRight{
  position:fixed;
  top:100%;
  width:100px;
}
